<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Responsive Web Mobile - Ecommerce</title>
    <!-- Included Bootstrap CSS Files -->
    <link rel="stylesheet" href="~/Content/Site/js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site/js/bootstrap/css/bootstrap-responsive.min.css" />

    <!-- Includes FontAwesome -->
    <link rel="stylesheet" href="~/Content/Site/css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Site/css/style.css" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">E-Ticaret</a>
                <div class="nav-collapse collapse">
                    @*<form class="navbar-form form-search pull-right">
                            <input id="Search" name="Search" type="text" placeholder="type text to search for" class="input-medium search-query">
                            <button type="submit" class="btn">Search</button>
                        </form>*@
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <hr />
    <footer id="footer" class="vspace20">
        <div class="container">
            <div class="row">
                @*<div class="span4">
                    <h4>Info</h4>
                    <ul class="nav nav-stacked">
                        <li><a href="#">Sell Conditions</a>
                        <li><a href="#">Shipping Costs</a>
                        <li><a href="#">Shipping Conditions</a>
                        <li><a href="#">Returns</a>
                        <li><a href="#">About Us</a>
                    </ul>
                </div>*@
                <div class="span4">
                    <h4>İletişim</h4>
                    @*<p><i class="icon-map-marker"></i>&nbsp;I do not Know Avenue, A City</p>*@
                    <p><i class="icon-phone"></i>&nbsp;Telefon: 212 569 32 65</p>
                    <p><i class="icon-print"></i>&nbsp;Fax: 212 589 32 67</p>
                    <p><i class="icon-envelope"></i>&nbsp;Email: caglaozkan0109@gmail.com</p>
                    <p><i class="icon-globe"></i>&nbsp;Web: http://www.mydomain.com</p>
                </div>

            </div>
            <div class="row">
                <div class="span6">
                    <p>&copy; Telif Hakkı 2017.&nbsp;@*<a href="#">Privacy</a>&nbsp;&amp;&nbsp;<a href="#">Terms and Conditions</a></p>*@
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/Site/js/jquery-1.10.0.min.js"></script>
    <script src="~/Content/Site/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Site/js/holder.js"></script>
    <script src="~/Content/Site/js/script.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>